.VBox{
    -fx-background-color:  #3d6090;
}

.title {
    -fx-background-color: #4c97ff;
    -fx-background-insets: 0;
    -fx-background-radius: 2 2 0 0;
    -fx-effect: dropshadow(three-pass-box, lightgray, 3, 0, 0, 2);
}

.headers {
    -fx-background-color: #4c97ff;
    -fx-background-insets: 5;
    -fx-background-radius: 2 2 0 0;
    -fx-effect: dropshadow(three-pass-box, lightgray, 3, 0, 0, 2);
}

.header-large {
    -fx-background-color:#4c97ff;;
            /*#4c97ff;*/
            /*linear-gradient(from 25% 25% to 100% 100%, #ff7f50, #6a5acd)*/
    -fx-background-insets: -1;
    -fx-background-radius: 2 2 0 0;
    -fx-effect: dropshadow(three-pass-box, lightgray, 3, 0, 0, 2);
}

.pane {
    -fx-background-color: #ffffff;
    -fx-background-insets: 5;
    -fx-background-radius: 2;
    -fx-effect: dropshadow(three-pass-box, lightgray, 10, 0, 0, 0);
}

.pane_large {
    -fx-background-color: #ffffff;
    -fx-background-radius: 2;
    -fx-effect: dropshadow(three-pass-box, lightgray, 10, 0, 0, 0);
}



.button {
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #e5e5e5;
}
.button:pressed{
    -fx-background-color: #4c97ff;
}

.borderPane-1{
    /*image from: https://www.google.co.nz/search?q=cityscape+photography&rlz=1C1SQJL_enNZ789NZ789&tbs=isz:lt,islt:xga&tbm=isch&source=lnt&sa=X&ved=0ahUKEwiux5267vXdAhXTdd4KHS0XDugQpwUIHw&biw=1916&bih=918&dpr=1#imgrc=4-42xqpBapcU_M:*/
    -fx-background-image: url("../background/Background2.jpg");
    -fx-background-repeat: no-repeat;
}
