/*graph {*/
/*    fill-color: #FFFF;*/
/*}*/

node {
    size: 5px;
    fill-color: #777;
    text-mode: hidden;
    z-index: 0;
}

edge {
    shape: line;
    fill-color: #222;
    arrow-size: 3px, 2px;
}

node#A {
    fill-color: blue;
}
node.root{    size: 20px;
    fill-color: Green;
    text-mode: hidden;
    z-index: 0;}


edge.visited { size: 2px; fill-color: green; stroke-width: 1px; stroke-mode: plain; }

node:clicked {
    fill-color: red;
}