/*graph {*/
/*    fill-color: #FFFF;*/
/*}*/

node {
    size: 5px;
    fill-color: #777;
    text-mode: hidden;
    z-index: 0;
}

edge {
    shape: line;
    fill-color: #222;
    arrow-size: 3px, 2px;
}

node#A {
    fill-color: blue;
}

edge.visited { size: 4px; stroke-color: red; stroke-width: 1px; stroke-mode: plain; }

node:clicked {
    fill-color: red;
}